
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form action="/Home/AddUser">
    First Name:  <br /> 
    <input type="text" name="firstname" required/><br />
    Last Name:   <br /> 
    <input type="text" name="lastname" /><br />
    Email:       <br /> 
    <input type="email" name="email" /><br />
    Phone Number: <br />
    <input type="tel" name="phonenumber" /><br />
    Password:     <br />
    <input type="password" name="password" required/><br />
    Favorite Color<br />
    <input type="color"  name="favcolor" value="#000000 /"><br /><br /><br />
    <input type="submit" value="Submit">
</form>