
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form action="/Home/AddUser">
    First Name:<input type="text" name="firstname" /><br />
    Last Name:<input type="text" name="lastname" /><br />
    Email:<input type="email" name="email" /><br />
    Phone Number:<input type="tel" name="phonenumber" /><br />
    PassWord:<input type="password" name="password" /><br />
    Favorite Color<input type="color"  name="favcolor" value="#000000 /"><br />
    <input type="submit" value="Submit">
</form>